
<!--<div class="container mt-3 text-center">
  <div class="position-relative">
    <img src="images/Mulher-Home-page.png" alt="" class="img-fluid">
  </div>
  <div class="text-container text-center fw-bold">
    <p>O seu <span style="color: #013764;">porto</span>
      em meio ao <span style="color: #013764;">mar</span>
      de oportunidades do <span style="color: #013764;">voluntariado</span>
    </p>
  </div>
  <div class="text-center">
    <a href="#" class="btn btn-custom bg-form text-light" role="button">
      Vamos nessa!
    </a>
  </div>
</div>-->

<div class="container mt-3">
  <!-- Versão Mobile -->
  <div class="d-block d-md-none text-center">
    <div class="position-relative">
      <img src="images/Mulher-Home-page.png" alt="Mulher Home" class="img-fluid mx-auto d-block">
    </div>
    <div class="text-container text-center fw-bold mt-3">
      <p>O seu <span style="color: #013764;">porto</span> em meio ao <span style="color: #013764;">mar</span> de oportunidades do <span style="color: #013764;">voluntariado</span></p>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-custom btHome text-light" role="button">Vamos nessa!</a>
    </div>
  </div>
  
  <!-- Versão Desktop -->
  <div class="d-none d-md-flex justify-content-center align-items-center">
    <div class="col-md-6 text-md-start">
      <div class="text-container text-center text-md-start fw-bold">
        <p>O seu <span style="color: #013764;">porto</span> em meio ao <span style="color: #013764;">mar</span> de oportunidades do <span style="color: #013764;">voluntariado</span></p>
      </div>
      <div class="text-center text-md-start">
        <a href="#" class="btn btn-custom btHome text-light" role="button">Vamos nessa!</a>
      </div>
    </div>
    <div class="col-md-6">
      <img src="images/Mulher-Home-page.png" alt="Mulher Home" class="img-fluid">
    </div>
  </div>
</div>

<!-- Carrossel da Home Ods-->
<div id="carouselHomeOdsControls" class="carousel-container mx-auto carousel slide mt-5 w-50" data-bs-ride="carousel">
  <div class="carousel-inner mx-auto">
    <!-- Item ativo do carrossel -->
    <div class="carousel-item active">
      <img src="images/card-ods1.svg" id="carousel1" class="d-block w-100" alt="...">
    </div>
    <!-- Segundo item do carrossel -->
    <div class="carousel-item">
      <img src="images/card-ods2.svg" id="carousel2" class="d-block w-100" alt="...">
    </div>
    <!-- Terceiro item do carrossel -->
    <div class="carousel-item">
      <img src="images/card-ods3.svg" id="carousel3" class="d-block w-100" alt="...">
    </div>
  </div>

  <!-- Botão de controle do carrossel para o item anterior -->
  <button class="carousel-control-prev position-absolute top-50 translate-middle-y ms-4" type="button" data-bs-target="#carouselHomeOdsControls" data-bs-slide="prev" style="left: -2rem;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <!-- Botão de controle do carrossel para o próximo item -->
  <button class="carousel-control-next position-absolute top-50 translate-middle-y me-4" type="button" data-bs-target="#carouselHomeOdsControls" data-bs-slide="next" style="right: -2rem;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5" style="background-color: #eae7e7;">
  <div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-around flex-wrap mt-4">
      <span class="btn btn-custom category-badge category-educacao">Educação</span>
      <span class="btn btn-custom category-badge category-animais">Animais</span>
      <span class="btn btn-custom category-badge category-arte">Arte</span>
    </div>
    <div class="col-12 my-3">
      <div class="search-bar">
        <input type="text" placeholder="Pesquise aqui">
        <img src="images/icone-pesquisa.png" alt="Search Icon">
      </div>
    </div>
    <div class="col-12 d-flex justify-content-around flex-wrap mb-4">
      <span class="btn btn-custom  category-badge category-meio-ambiente ">Meio Ambiente</span>
      <span class="btn btn-custom category-badge category-politica">Política</span>
      <span class="btn btn-custom category-badge category-saude">Saúde</span>
    </div>
  </div>
</div>

<!-- Carrossel da Home História de Sucesso-->
<div id="carouselHomeHistoryControls" class="carousel slide mt-5 mx-auto w-md-25 w-lg-30 mb-5" data-bs-ride="carousel" style="width: 50%;">
  <div class="carousel-inner mx-auto">
    <!-- Item ativo do carrossel -->
    <div class="carousel-item active">
      <img src="images/card-ods1.svg" id="carousel1" class="d-block w-100" alt="...">
    </div>
    <!-- Segundo item do carrossel -->
    <div class="carousel-item">
      <img src="images/card-ods2.svg" id="carousel2" class="d-block w-100" alt="...">
    </div>
    <!-- Terceiro item do carrossel -->
    <div class="carousel-item">
      <img src="images/card-ods3.svg" id="carousel3" class="d-block w-100" alt="...">
    </div>
  </div>

  <!-- Botão de controle do carrossel para o item anterior -->
  <button class="carousel-control-prev position-absolute top-50 translate-middle-y ms-4" type="button" data-bs-target="#carouselHomeHistoryControls" data-bs-slide="prev" style="left: -2rem;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <!-- Botão de controle do carrossel para o próximo item -->
  <button class="carousel-control-next position-absolute top-50 translate-middle-y me-4" type="button" data-bs-target="#carouselHomeHistoryControls" data-bs-slide="next" style="right: -2rem;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


