<!DOCTYPE html>
<html>

<head>
    <title>RRegistro</title>
</head>

<body>
    <h1>Registrar usuário</h1>

    <input type="text" id="nome" placeholder="Nome">

    <input type="email" id="email" placeholder="Email">

    <input type="password" id="senha" placeholder="Password">

    <input type="date" id="birthday">

    <input type="tel" id="telefone" placeholder="Telefone">

    <input id="cep" placeholder="CEP">

    <button id="submit">Enviar</button>
    <button id="verificarCustomizacao">Verificar personalização</button>

    <p id="result"></p>
    <script src="/js/createAccount.js"></script>
    <script src="/js/getCookie.js"></script>
    <script src="/js/getCustomization.js"></script>
</body>

</html>